<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <style>
      .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        background-image: url("https://i.ibb.co/2MfHDM0/kaghan.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .flex-container > div {
        background-color: #606060;
        color: aqua;
        width: 450px;
        height: auto;
        border-radius: 5px;
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/navbar") %>
    <div class="flex-container">
      <div>
        <div class="container">
          <h1>Make Changes to Your Blog</h1>

          <form
            action="/blogs/<%= foundBlog._id %>?_method=patch"
            method="post"
          >
            <div class="mb-3">
              <input
                type="text"
                placeholder="Title"
                name="title"
                style="background-color: lightskyblue"
                value="<%= foundBlog.title %> "
              />
            </div>

            <div class="mb-3">
              <textarea
                name="text"
                cols="40"
                rows="3"
                placeholder="Description"
                style="background-color: lightskyblue"
              >
<%= foundBlog.text %> </textarea
              >
            </div>

            <!-- <div class="mb-3">
          <label for="category">Select Category:</label>
          <select id="category" placeholder="category" name="category">
            <option value="rice">Rice</option>
            <option value="spicy">Spicy</option>
            <option value="fast food">Fast Food</option>
            <option value="news">News Feed</option>
            <option value="technology">Tech Related</option>
            <option value="education">News Feed</option>
          </select>
          value=" neechay ka js code category ki values "
        
        </div>-->

            <div class="mb-3">
              <input
                type="text"
                placeholder="Category"
                name="category"
                style="background-color: lightskyblue"
                value="<%= foundBlog.category %> "
              />
            </div>

            <div class="mb-3">
              <input
                type="text"
                placeholder="Image URL"
                name="img"
                style="background-color: lightskyblue"
                value="<%= foundBlog.img %> "
              />
            </div>

            <div class="mb-3">
              <input
                type="text"
                placeholder="Author"
                name="auther"
                style="background-color: lightskyblue"
                value="<%= foundBlog.auther%> "
              />
            </div>

            <div class="mb-3">
              <input
                type="datetime-local"
                placeholder="Date Created"
                name="date"
                style="background-color: lightskyblue"
                value="<%= foundBlog.date%> "
              />
            </div>
            <button class="btn" style="background-color: lightskyblue">
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>
